<div class="container my-4">
    <div class="row">
        <div class="col-xl-5">
                
            <img src="/img/me.jpg" alt="Tomi" width="400px">
        
        </div>
        
        <div class="col-xl-7">
            <h1>Tomiris Ospanova</h1>
            <h4></h4>
            <p>Hello for my Recipe WebApp! <br> 
            If you love cooking, here you can find any recipies for your every day routine.</p>

            <p>Link to the Github Repo of this project: <a href="https://github.com" target="_blank" rel="noopener noreferrer">Recipe Blog</a></p>
            <p>Contact On: +77769686289</p>
            <p>Email: O_tomiris.05@mail.ru</p>
            <ul class="nav justify-content-center d-flex">
                <li class="ms-3"><a class="text-deco" href="https://github.com" target="_blank" rel="noopener noreferrer">
                    Github |</a>
                </li>
            <li class="ms-3"><a class="text-deco" href="https://www.linkedin.com" target="_blank" rel="noopener noreferrer">
                LinkedIn |</a>
            </li>
            <li class="ms-3"><a class="text-deco" href="https://twitter.com" target="_blank" rel="noopener noreferrer">
                Twitter</a>
            </li>
            </ul>

        </div>
    </div>
</div>